!!! 5
html(lang='en')
head
  meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='I\'m Shaopeng Zhang. I am a UI developer, an interaction designer, and a UX project lead.I currently work at Siemens Corporate Research on front end development and UX project management. - Oh, I also love Photography.')
    meta(name='author', content='Shaopeng Zhang')
    title Home Page
    link(rel='stylesheet', href='../lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/style.css?1404187189')
  body.
    .invisible
    .navbar.navbar-inverse.navbar-static-top
      .container
        a.navbar-brand(href='home.php') Shaopeng's Website
        button.navbar-toggle(data-toggle='collapse', data-target='.navHeaderCollapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .collapse.navbar-collapse.navHeaderCollapse
          ul.nav.navbar-nav.navbar-right.s-header-list
            li.active
              a(href='home.php') Home
            li.
              a(href='education.php') Education
            li.
              a(href='experience.php') Experience
            //
              <li>
                                      <a href="portfolio.php">Portfolio</a>
                                  </li>
            li.
              a(href='photography.php') Photography
            li.
              a(href='contact.php') Contact
    .container
      .jumbotron.s-home-jumbotron
        .s-banner
          .s-jumbotron-text
            h2 Hello, world!
            p I'm Shaopeng Zhang. 
            p
              | I am a UI developer,
              br
              | an interaction designer,
              br
              | and a UX project lead.
            p
              | I currently
              a(href='experience.php') work at Siemens Corporate Research
              | on front end development and UX project management.
            p
              | Oh, I also love
              a(href='photography.php') Photography
              | .
            p
              a.btn.btn-primary.btn-lg(href='contact.php', role='button') Contact me
          //
                            <img src="../assets/banner800.jpg" class="img-responsive s-banner-img-non-blur" alt="Me standing in front of project wall at University of Pittsburgh, 2010. ">
          img.img-responsive.s-banner-img(src='../assets/banner800.jpg', alt='Me standing in front of project wall at University of Pittsburgh, 2010. ')
          .s-cover.img-responsive
        //
                      <div class="s-qr">
                          <div class="s-qr-code site"></div>
                          <div class="s-qr-code linkedin"></div>
                      </div>
    script(src='../lib/jquery-1.11.0.min.js')
    script(src='../lib/bootstrap/js/bootstrap.min.js')
    script(src='../lib/sprintf-0.7-beta1.js')
    script(src='../lib/app.js?1404187189')
